.DS_Store
node_modules
/sanity/config
/sanity/dist
/sanity/plugins
/sanity/static
/sanity/.eslintrc
/sanity/.npmignore
/sanity/package.json
/sanity/tsconfig.json
/sanity/yarn.lock
/build
/.svelte-kit
/package
